body{
    margin: 0;
    padding: 0;
    position: relative;
}
h1{ 
  margin: 5vh 4% 2vh 4%;

}
p{
  padding: 0 4%;
}

@media screen and (max-width: 299px)  {
    body{
      background-color: red;
   
    }
    #small {
      background-color: red;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    #medium{
     display: none;
    }
 

  }
  @media screen and (min-width: 300px) and (max-width: 767px)  {
    body{
      background-color: green;
    }
    #medium{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
 
    }
    #large, #small{
      display: none;
    }
    

    }

  @media screen and (min-width: 768px){
    body{
      background-color: blue;
    }

    #large{
      position: absolute;
        display: flex;
        flex-direction: column;
      z-index: 3;   }
    
    #small, #medium{
      display: none;
    }
    }
    




