# Dossiers
node_modules/
dist/
build/
coverage/

# Fichiers de configuration
.env
.env.local
.env.*.local

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .DS_Store (fichiers créés par macOS)
.DS_Store

# Fichiers de sauvegarde
*.bak
*.backup
*.swp

# Dossiers spécifiques à votre environnement (ajustez au besoin)
/config/env
